@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Pacifico&family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.5.0/remixicon.min.css');
@import "tailwindcss";

:root {
  --font-poppins: 'Poppins', sans-serif;
  --font-pacifico: 'Pacifico', cursive;
  --font-lora: 'Lora', serif;
}

.font-poppins {
  font-family: var(--font-poppins);
}
.font-pacifico {
  font-family: var(--font-pacifico);
}
.font-lora {
  font-family: var(--font-lora);
}
